@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap');

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
}

.main-container {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  /* background-color: #323941; */
}

.card {
  /* background-color: #21222a; */
  display: flex;
  flex-direction: column;
  width: 550px;
  height: 100%;
  color: #ffffff;
  border-radius: 10px;
  box-shadow: 0 2px 6px rgb(0 0 0 / 8%), 0 8px 14px rgb(0 0 0 / 10%);
}

img {
  margin-right: 8px;
}

h1,
h3,
h4 {
  margin: 0;
}

h1 {
  font-size: 40px;
  letter-spacing: -0.05em;
}

h3 {
  color: #61dafb;
  font-weight: 700;
  font-size: 22px;
  margin-right: auto;
}

h4 {
  color: #deebf8;
  font-weight: 600;
  font-size: 16px;
}

ul > li {
  line-height: 2;
  font-size: 16px;
}

.nav-container {
  background-color: #21222a;
  display: flex;
  align-items: center;
  height: 90px;
  padding: 30px 25px;
}

.content-container {
  background-color: #282d35;
  padding: 57px 27px;
}

ul {
  margin-top: 46px;
  max-width: 397px;
}

ul > li {
  padding-block: 1px;
}

ul > li::marker {
  color: #61dafb;
  font-size: 1.5rem;
}
